<section class="auth-migration-notice" aria-labelledby="auth-migration-title">
  <h1 id="auth-migration-title">Welcome back!</h1>
  <p>
    If you signed up on the old version of Went Hiking, you'll need to
    <a href="/reset-password-request">reset your password</a> to get back into your account.
    We hope you like the new version. <span aria-hidden="true">&#10084;&#65039;</span>
  </p>
</section>

<%= rodauth.login_form_header %>
<%= rodauth.render("login-form") %>
<%= rodauth.login_form_footer %>
