<section class="narrow follow-notice-page">
  <p class="kicker">Hike emails</p>
  <h1><%= h(@follow_title) %></h1>
  <p class="lede"><%= h(@follow_message) %></p>
  <p class="follow-notice-action"><a href="<%= h(@follow_action_url) %>"><%= h(@follow_action_label) %></a></p>
</section>
